In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [2]:
#goal is to predict if the client will subscribe a term deposit (variable y)
dataset = pd.read_csv('bank-full.csv')

In [51]:

df = pd.DataFrame(dataset, columns = ['job', 'marital', 'education','contact','poutcome'])
df.loc[df['job']=='admin.'] # creating error could not convert string to float: 'admin.'
#include only numerical data
#numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

#newdf = df.select_dtypes(include!=numerics)
#df.select_dtypes(include=np.number).columns.tolist()
#df.head(10)
df1 = dataset[['age', 'balance','day','duration','campaign','pdays','previous']]
df2 = dataset.y.map(dict(yes=1, no=0))
df1['y'] = df2
df1.head(10) #all data numeric done

#df2 = df1.y.map(dict(yes=1, no=0))

#len(dataset)

C:\Users\parvi\AppData\Local\Temp/ipykernel_14068/854535510.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['y'] = df2

   age  balance  day  duration  campaign  pdays  previous  y
0   58     2143    5       261         1     -1         0  0
1   44       29    5       151         1     -1         0  0
2   33        2    5        76         1     -1         0  0
3   47     1506    5        92         1     -1         0  0
4   33        1    5       198         1     -1         0  0
5   35      231    5       139         1     -1         0  0
6   28      447    5       217         1     -1         0  0
7   42        2    5       380         1     -1         0  0
8   58      121    5        50         1     -1         0  0
9   43      593    5        55         1     -1         0  0

In [52]:
#dataset.head(10)
df1.head(10)

   age  balance  day  duration  campaign  pdays  previous  y
0   58     2143    5       261         1     -1         0  0
1   44       29    5       151         1     -1         0  0
2   33        2    5        76         1     -1         0  0
3   47     1506    5        92         1     -1         0  0
4   33        1    5       198         1     -1         0  0
5   35      231    5       139         1     -1         0  0
6   28      447    5       217         1     -1         0  0
7   42        2    5       380         1     -1         0  0
8   58      121    5        50         1     -1         0  0
9   43      593    5        55         1     -1         0  0

In [53]:
# Replace zeroes
zero_not_accepted = ['age','day']

In [59]:
for column in zero_not_accepted:
    df1[column] = df1[column].replace(0, np.NaN)
    mean = int(df1[column].mean(skipna=True))
    df1[column] = df1[column].replace(np.NaN, mean)

C:\Users\parvi\AppData\Local\Temp/ipykernel_14068/1493348444.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[column] = df1[column].replace(0, np.NaN)
C:\Users\parvi\AppData\Local\Temp/ipykernel_14068/1493348444.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[column] = df1[column].replace(np.NaN, mean)

In [63]:
# split dataset
X = df1.iloc[:, 0:7]
y = df1.iloc[:, 7]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=0.2)

In [64]:
print(len(X_train))
print(len(y_train))
print(len(X_test))
print(len(y_test))

36168
36168
9043
9043

In [65]:
import math
math.sqrt(len(y_test))
#a = 95 * 95
#print(a)
#Feature scaling
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [67]:
# Define the model: Init K-NN
classifier = KNeighborsClassifier(n_neighbors=95, p=2,metric='euclidean')

In [68]:
# Fit Model
classifier.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=95)

In [69]:
# Predict the test set results
y_pred = classifier.predict(X_test)
y_pred

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [70]:
# Evaluate Model
cm = confusion_matrix(y_test, y_pred)
print (cm)
print(f1_score(y_test, y_pred))

[[7843  137]
 [ 882  181]]
0.2621288921071687

In [71]:
print(accuracy_score(y_test, y_pred))

0.887316156142873